{% extends 'store/base.html' %}


{% block title %}

About Us - ShopEase

{% endblock %}



{% block content %}


<div class="container mt-5">


<div class="card shadow p-5">


<h1 class="text-center mb-4">

About ShopEase

</h1>



<p class="lead text-center">

ShopEase is a modern online shopping platform designed to provide customers with a simple, secure and enjoyable shopping experience.

</p>



<hr>



<h3>

Our Mission

</h3>


<p>

Our mission is to make online shopping easier by providing quality products, affordable prices and reliable service to our customers.

</p>




<h3 class="mt-4">

Our Vision

</h3>


<p>

We aim to become a trusted e-commerce platform where customers can find their favourite products with confidence and convenience.

</p>




<h3 class="mt-4">

Why Choose ShopEase?

</h3>


<ul>

<li>
Quality products
</li>

<li>
Easy online ordering
</li>

<li>
Secure shopping experience
</li>

<li>
Customer-focused service
</li>

</ul>



</div>


</div>



{% endblock %}