<!DOCTYPE html>

<html>

<head>

<title>
{% block title %}
ShopEase
{% endblock %}
</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">


</head>


<body class="d-flex flex-column min-vh-100">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


<div class="container">


<a class="navbar-brand" href="/">
🛒 ShopEase
</a>



<button class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav">

<span class="navbar-toggler-icon"></span>

</button>




<div class="collapse navbar-collapse"
id="navbarNav">

<form class="d-flex ms-auto me-3"
method="GET"
action="/search/">


<input 
class="form-control"
type="search"
name="q"
placeholder="Search products"
required>


<button class="btn btn-outline-light ms-2"
type="submit">

Search

</button>


</form>

<ul class="navbar-nav ms-auto">



<li class="nav-item">

<a class="nav-link" href="/">

Home

</a>

</li>



<li class="nav-item">

<a class="nav-link" href="/products/">

Products

</a>

</li>
<li class="nav-item">

<a class="nav-link" href="/about/">

About

</a>

</li>
<li class="nav-item">

<a class="nav-link" href="/contact/">

Contact

</a>

</li>



<li class="nav-item">

<a class="nav-link" href="/cart/">

Cart

{% if cart_count > 0 %}

<span class="badge bg-warning text-dark">

{{ cart_count }}

</span>

{% endif %}


</a>

</li>




{% if user.is_authenticated %}

<li class="nav-item">

<span class="nav-link text-warning">

Welcome, {{user.username}}

</span>

</li>

<li class="nav-item">

<a class="nav-link" href="/my-orders/">

My Orders

</a>

</li>



<li class="nav-item">

<a class="nav-link" href="/logout/">

Logout

</a>

</li>



{% else %}



<li class="nav-item">

<a class="nav-link" href="/login/">

Login

</a>

</li>



<li class="nav-item">

<a class="nav-link" href="/register/">

Register

</a>

</li>



{% endif %}



</ul>


</div>


</div>


</nav>



<main class="flex-grow-1">

{% block content %}

{% endblock %}

</main>



<footer class="bg-dark text-light mt-5 py-4">


<div class="container">


<div class="row text-center">



<div class="col-md-6">


<h4>

ShopEase

</h4>


<p>

Online E-commerce Platform

</p>


</div>





<div class="col-md-6">


<h5>

Quick Links

</h5>


<a href="/"
class="text-light text-decoration-none me-3">

Home

</a>



<a href="/products/"
class="text-light text-decoration-none me-3">

Products

</a>



<a href="/about/"
class="text-light text-decoration-none me-3">

About

</a>



<a href="/contact/"
class="text-light text-decoration-none">

Contact

</a>



</div>



</div>



<hr>



<p class="text-center mb-0">

© 2026 ShopEase. All Rights Reserved.

</p>



</div>


</footer>



</body>

</html>