{% extends 'store/base.html' %}


{% block title %}

Contact Us - ShopEase

{% endblock %}



{% block content %}


<div class="container mt-5">


<div class="card shadow p-5">


<h1 class="text-center mb-4">

Contact ShopEase

</h1>



<p class="text-center">

We are always happy to hear from our customers.

</p>



<hr>



<div class="row">



<div class="col-md-6">


<h4>

Contact Information

</h4>


<p>

📍 Address: Dhaka, Bangladesh

</p>


<p>

📧 Email: support@shopease.com

</p>


<p>

📞 Phone: +880 1234-567890

</p>


</div>





<div class="col-md-6">


<h4>

Send Us a Message

</h4>


<form>


<div class="mb-3">


<label class="form-label">

Name

</label>


<input 
type="text"
class="form-control"
placeholder="Enter your name">


</div>




<div class="mb-3">


<label class="form-label">

Email

</label>


<input 
type="email"
class="form-control"
placeholder="Enter your email">


</div>





<div class="mb-3">


<label class="form-label">

Message

</label>


<textarea
class="form-control"
rows="4"
placeholder="Write your message">

</textarea>


</div>




<button class="btn btn-primary">

Send Message

</button>


</form>


</div>



</div>


</div>


</div>



{% endblock %}