{% extends 'store/base.html' %}


{% block title %}

Search Results - ShopEase

{% endblock %}



{% block content %}


<div class="container mt-5">



<h2 class="text-center mb-4">

Search Results for "{{query}}"

</h2>




<div class="row">



{% if products %}



{% for product in products %}



<div class="col-md-4 mb-4">



<div class="card h-100 shadow">



{% if product.image %}

<img src="{{product.image.url}}"
class="card-img-top"
height="250">

{% endif %}





<div class="card-body">


<h5 class="card-title">

{{product.name}}

</h5>



<p>

Price: ${{product.price}}

</p>




<a href="{% url 'product_detail' product.id %}"
class="btn btn-outline-primary">

Details

</a>



<a href="{% url 'add_to_cart' product.id %}"
class="btn btn-primary">

Add Cart

</a>



</div>


</div>


</div>



{% endfor %}




{% else %}



<h4 class="text-center">

No products found

</h4>



{% endif %}



</div>



</div>



{% endblock %}